$clr-green: #5EC1A4;
$clr-blue: #4BC5ED;
$clr-gunmetal: #637479;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-snow: #F4F4F4;

body {
    background-color: $clr-snow;
}

.bg-green {
    background-color: #5EC1A4;
}
.bg-blue {
    background-color: #4BC5ED;
}
.bg-gunmetal {
    background-color: #637479;
}
.bg-white {
    background-color: #ffffff;
}
.bg-black {
    background-color: #000000;
}
.bg-snow {
    background-color: #F4F4F4;
}