$clr-green: #5ec1a4;
$clr-blue: #14c3fc;
$clr-gunmetal: #385259;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-snow: #f4f4f4;

body {
  background-color: $clr-snow;
  color: $clr-gunmetal;
}

a {
  color: $clr-blue;
  &:active,
  &:hover,
  &:visited,
  &:focus {
    color: $clr-blue;
  }
}

// overrides

.bg-green {
  background-color: #5ec1a4;
}
.bg-blue {
  background-color: #4bc5ed;
}
.bg-gunmetal {
  background-color: #637479;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-snow {
  background-color: #f4f4f4;
}
