$clr-green: #3FC8A5;
$clr-blue: #14c3fc;
$clr-gunmetal: #385259;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-snow: #f4f4f4;
$clr-med-gray: #D0D0D0;
$clr-med-green: #3FC8A5;
$clr-med-blue: #006382;
$clr-red: #FF0000;
$clr-orange: #F36E4F;
$clr-dark-green: #178968;


body {
  background-color: $clr-snow;
  color: $clr-gunmetal;
}

a {
  color: $clr-blue;
  &:active,
  &:hover,
  &:visited,
  &:focus {
    color: $clr-blue;
  }
}

// bg

.bg-green {
  background-color: $clr-green;
}
.bg-med-green {
  background-color: $clr-green;
}
.bg-blue {
  background-color: $clr-blue;
}
.bg-gunmetal {
  background-color: $clr-gunmetal;
}
.bg-white {
  background-color: $clr-white;
}
.bg-black {
  background-color: $clr-black;
}
.bg-snow {
  background-color: $clr-snow;
}

// txt

.txt-clr-red {
  color: $clr-red;
}

.txt-clr-orange {
  color: $clr-orange;
}

.txt-clr-med-green {
  color: $clr-med-green;
}

.txt-clr-dark-green {
  color: $clr-dark-green;
}

.txt-clr-green {
  color: $clr-green;
}
.txt-clr-blue {
  color: $clr-blue;
}
.txt-clr-gunmetal {
  color: $clr-gunmetal;
}
.txt-clr-gunmetal-l50 {
  color: lighten($clr-gunmetal, 35%);
}
.txt-clr-white {
  color: $clr-white;
}
.txt-clr-black {
  color: $clr-black;
}
.txt-clr-snow {
  color: $clr-snow;
}
