$base: 40px;
<<<<<<< HEAD
$base-max-width: 450px;

body {
    padding-bottom: $base*2;
}

.border-spacing-top {
    margin-top: $base;
}

.border-spacing-bottom {
    margin-bottom: $base / 2;
}
=======
$base-max-width: 450px;
>>>>>>> 633457befd1b3c559c474d9b8519b9228647b055
