$base: 40px;
$base-max-width: 450px;

.border-spacing-top {
    margin-top: $base;
}

.border-spacing-bottom {
    margin-bottom: $base / 2;
}

.bump-bottom-base {
    padding-bottom: $base*2;
}

.bump-bottom-base-sm {
    padding-bottom: $base/2;
}

.border-bottom {
    padding-bottom: $base;
    border-bottom: 1px solid $clr-med-gray;
}

.border-right {
    padding-right: $base * .75;
    border-right: 1px solid $clr-med-gray;
}