$fnt-body: "Helvetica", "Roboto", -apple-system, BlinkMacSystemFont, Roboto,
  Helvetica, Arial, sans-serif;

$fnt-base: 16px;

body {
  font-family: $fnt-body;
  font-size: $fnt-base;
}

// headlines

h1,
h2,
h3,
h4,
h5,
h6,
.txt-h1,
.txt-h2,
.txt-h3,
.txt-h4,
.txt-h5,
.txt-h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1,
.txt-h1 {
  font-weight: bold;
  font-size: 31px;
}

h2,
.txt-h2 {
  font-weight: bold;
  font-size: 25px;
}

h3,
.txt-h3 {
  font-weight: bold;
  font-size: 20px;
}

// body text

p {
  font-weight: light;
  margin-bottom: $base/2;
  font-size: 14px;
}

.txt-lg-p {
  font-size: 16px;
}

.txt-lg-light {
  font-size: 54px;
  font-weight: 100;
}

.txt-med-p {
  font-size: 14px;
}

.txt-sm-p {
  font-size: 10px;
  font-weight: 300;
}

.txt-footer {
  margin-top: $base * 2;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 12px;
  margin-bottom: $base;
}

.txt-strong {
  font-weight:bold;
}

// alignment 

.txt-center {
  text-align:center !important;
}

.txt-left {
  text-align:left !important;
}

.txt-right {
  text-align:right !important;
}
