// buttons.scss

.button-line-white {
  padding:$content-spacing;
  font-size:$button-font-size;
  font-weight:400;
  text-align:center;
  color:$white;
  text-decoration:none;
  position:relative;
  padding-bottom:$content-spacing;
  &:after {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    right:0;
    width:50%;
    background-color:$white;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    width:50%;
    background-color:$white;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    &:after {
      right:0;
      width:0%;
    }
    &:before {
      left:0;
      width:0%;
    }
  }
  &:visited, &:focus, &:active {
    text-decoration:none;
    color:$white;
  }
}

.button-line-brown {
  padding:$content-spacing;
  font-size:$button-font-size;
  font-weight:400;
  text-align:center;
  color:$lm-brown;
  text-decoration:none;
  position:relative;
  padding-bottom:$content-spacing;
  &:after {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$lm-brown;
  }
  &:hover {
    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:visited, &:focus, &:active {
    text-decoration:none;
    color:$lm-brown;
  }
}

.button-line-peach {
  padding:$content-spacing ($content-spacing)+5px $content-spacing 0;
  font-size:$button-font-size;
  font-weight:400;
  text-align:center;
  color:$lm-peach;
  text-decoration:none;
  position:relative;
  padding-bottom:$content-spacing;
  &:after {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$lm-peach;
  }
  &:hover {
    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:visited, &:focus, &:active {
    text-decoration:none;
    color:$lm-peach;
  }
}

.button-large-black {
  cursor:pointer;
  font-size:$button-font-size*1.5;
  font-weight:400;
  line-height:($button-font-size*3);
  text-align:center;
  padding:0 $content-spacing $content-spacing 0;
  color:$lm-brown;
  text-decoration:none;
  position:relative;
  &:after {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$lm-brown;
  }
  &:hover {
    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:visited, &:focus, &:active {
    text-decoration:none;
    color:$lm-brown;
  }
}

.button-large-peach {
  cursor:pointer;
  font-size:$button-font-size*1.5;
  font-weight:400;
  line-height:($button-font-size*3);
  text-align:center;
  padding:0 $content-spacing $content-spacing 0;
  color:$lm-peach;
  text-decoration:none;
  position:relative;
  display:inline-flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  img {
    margin-right:10px;
  }
  @media (max-width:676px) {
    font-size:$button-font-size;
  }
  &:after {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content:'';
    height:2px;
    width:100%;
    position:absolute;
    bottom:$content-spacing;
    left:0;
    background-color:$lm-peach;
  }
  &:hover {
    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:visited, &:focus, &:active {
    text-decoration:none;
    color:$lm-peach;
  }
}

.button-small-black {
  font-size:$button-font-size;
  font-weight:200;
  line-height:($button-font-size*2);
  padding:0 $content-spacing $content-spacing 0;
  color:$lm-brown;
  text-decoration:none;
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  img {
    margin-right:10px;
  }
	&:before, &:after {
		content: '';
    display: block;
    position: absolute;
    bottom: 0;
		top:100%;
    height: 1px;
    width: 0;
	}
	&:before {
		content:'';
		position:absolute;
		left: 0;
		top:100%;
		opacity: 0;
    transition: width 0ms ease-in-out,border-bottom .25s ease-in-out, opacity .25s ease-in-out;
	}
	&:after {
		right: 0;
		// opacity: 0;
    border-bottom: 1px solid $lm-brown;
    transition: width .25s ease-in-out;
	}
	&:hover {
		&:before {
			width: 100%;
			opacity: 1;
	    border-bottom: 1px solid $lm-brown;
	    transition: width .25s ease-in-out, opacity .25s ease-in-out;
		}
		&:after {
			width: 100%;
			border-bottom: 1px solid transparent;
			transition: width 0ms ease-in-out,border-bottom 0ms ease-in-out;
		}
	}
}

.button-small-peach {
  font-size:$button-font-size;
  font-weight:200;
  line-height:($button-font-size*2);
  text-align:center;
  padding:0 $content-spacing $content-spacing 0;
  color:$lm-peach !important;
  text-decoration:none;
  position:relative;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top:100%;
    height: 1px;
    width: 0;
  }
  &:before {
    content:'';
    position:absolute;
    left: 0;
    top:100%;
    opacity: 0;
    transition: width 0ms ease-in-out,border-bottom .5s ease-in-out, opacity .5s ease-in-out;
  }
  &:after {
    right: 0;
    // opacity: 0;
    border-bottom: 1px solid $clr-peach;
    transition: width .5s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      border-bottom: 1px solid $clr-peach;
      transition: width .5s ease-in-out, opacity .5s ease-in-out;
    }
    &:after {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: width 0ms ease-in-out,border-bottom 0ms ease-in-out;
    }
  }
}

.button-fancy {
  font-family:$navfont;
}

.link-peach {
  color:$clr-peach;
  position:relative;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top:100%;
    height: 1px;
    width: 0;
  }
  &:before {
    content:'';
    position:absolute;
    left: 0;
    top:100%;
    opacity: 0;
    transition: width 0ms ease-in-out,border-bottom .5s ease-in-out, opacity .5s ease-in-out;
  }
  &:after {
    right: 0;
    // opacity: 0;
    border-bottom: 1px solid $clr-peach;
    transition: width .5s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      border-bottom: 1px solid $clr-peach;
      transition: width .5s ease-in-out, opacity .5s ease-in-out;
    }
    &:after {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: width 0ms ease-in-out,border-bottom 0ms ease-in-out;
    }
  }
}

.link-white {
  color:$clr-white;
  position:relative;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top:100%;
    height: 1px;
    width: 0;
  }
  &:before {
    content:'';
    position:absolute;
    left: 0;
    top:100%;
    opacity: 0;
    transition: width 0ms ease-in-out,border-bottom .5s ease-in-out, opacity .5s ease-in-out;
  }
  &:after {
    right: 0;
    // opacity: 0;
    border-bottom: 1px solid $clr-white;
    transition: width .5s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      border-bottom: 1px solid $clr-white;
      transition: width .5s ease-in-out, opacity .5s ease-in-out;
    }
    &:after {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: width 0ms ease-in-out,border-bottom 0ms ease-in-out;
    }
  }
}
