// contact.scss

.contact-hidden {
  display:none;
  opacity:0;
  .close-overlay {
    opacity:0;
  }
}

.contact-visible {
  display:block;
  opacity:1;
}

.contact-overlay {
  height:100vh;
  z-index:999;
  position:fixed;
  bottom:0-($footer-height);
  left:0;
  top:0;
  right:0;
  overflow:visible;
  @include fadein(.25s);
  background-color:$clr-yellow;
  .content {
    margin:0;
  }
  .contact-scroll {
    overflow:auto;
    min-height:100vh;
    height:100%;
    padding:$indent;
    padding-bottom:$indent*4;
    @media (max-width:1024px) {
      padding:$indent/2;
    }
    .contact-center {
      @media (min-width:1024px) {
        @include vertical-align;
      }
      @media (min-height:1024px) {
        @include vertical-align;
      }
    }
  }
  .close-overlay {
    position:fixed;
    width:80px;
    height:80px;
    margin:0 $base/4 0 $base/2;
    right:$base;
    top:$base;
    z-index:9999;
    border:1px solid $clr-main;
    @media (max-width:676px) {
      width:40px !important;
      height:40px !important;
      right:$base/6 !important;
      top:$base/6 !important;
      margin:0 !important;
    }
    .lmnt-bar {
      height:1px;
      width:100%;
      background-color:$clr-main;
      position:absolute;
      &:first-child {
        top:50%;
        left:0px;
        transform:rotate(45deg);
        transform-origin:center center;
      }
      &:last-child {
        bottom:50%;
        left:0px;
        transform:rotate(-45deg);
        transform-origin:center center;
      }
    }
  }
  .page-head {
    margin-top:$indent/2;
    @media (max-width:1024px) {
      font-size:$pagehero-size/2.25;
      line-height:($pagehero-size/2.25)+5px;
      margin: $indent*2 0px $indent 0px;
    }
  }
}

.contact-form {
  font-size:$bodytext-size;
  line-height:($bodytext-size*2)+10px;
  font-weight:100;
  color:$lm-brown;
  @media (max-width:1024px) {
    font-size:$bodytext-size-mobile;
    line-height:($bodytext-size-mobile)+5px;
  }
  input {
    margin: $content-spacing 0px;
  }
  input[type=text], select {
    border:1px solid $contact-color;
    background:none;
    outline:none;
    line-height:($bodytext-size*2);
    padding:0 $content-spacing;
    border-radius:none;
  }
  input[type=text] {
    width:250px;
  }
  select {
    margin: $content-spacing 0px;
    width:150px;
    height:50px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  input[type=submit] {
    border:none;
    border-bottom:1px solid $contact-color;
    font-family:$navfont;
    font-size:$bodytext-size*1.5;
    background:none;
    outline:none;
    line-height:($bodytext-size*2)*1.5;
    padding:0 $content-spacing*2;
    display:block;
    cursor:pointer;
    &:hover {
      border-bottom:1px solid $lm-peach;
    }
  }
}

.direct-contact-row {
  border:1px solid $contact-color;
  position:fixed;
  bottom:$content-spacing*2;
  left:$content-spacing*2;
  right:$content-spacing*2;
  font-size:$bodytext-size;
  @media (max-width:767px) {
    bottom:0;
    left:0;
    right:0;
    position:relative;
    margin-top:$indent*2;
  }
   .col-third {
    padding:$content-spacing*2;
    .intro-desc {
      @include auto-line-height(($bodytext-size)-5px)
    }
    &:first-child {
      border-right:1px solid $contact-color;
      @media (max-width:767px) {
        border-right:none;
        border-bottom:1px solid $contact-color;
      }
    }
    &:nth-child(2) {
      border-right:1px solid $contact-color;
      @media (max-width:767px) {
        border-right:none;
        border-bottom:1px solid $contact-color;
      }
    }
  }
}
