// content.scss

// universal
.content {
  margin: ($content-spacing)/2;
  position: relative;
  overflow: hidden;
}
.sq-content {
  top: ($content-spacing)/2;
  bottom: ($content-spacing)/2;
  right: ($content-spacing)/2;
  left: ($content-spacing)/2;
  position: absolute;
}
.sq-content-flush {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.sq-content-reset-sm {
  @media (max-width: 1024px) {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: ($content-spacing)/2;
    position: relative;
    overflow: hidden;
  }
}

// square
.sq-eighth {
  padding-bottom: $col-eighth;
  position: relative;
}
.sq-quarter {
  padding-bottom: $col-quarter;
  position: relative;
}
.sq-third {
  padding-bottom: $col-third;
  position: relative;
}
.sq-half {
  padding-bottom: $col-half;
  position: relative;
  @media (max-width: 1024px) {
    padding-bottom: $col-half * 2;
  }
}
.sq-full {
  padding-bottom: $col-full;
  position: relative;
}

.sq-half-reset-sm {
  @media (max-width: 1024px) {
    padding: 0;
  }
}

.window-height-relative {
  padding-bottom: 800px;
  position: relative;
  @media (max-width: 1024px) {
    padding-bottom: 500px;
  }
  @media (max-width: 676px) {
    padding-bottom: 250px;
  }
}

// bg
.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.lmnt-project {
  .bg-img {
    @media (max-width: $base-md) {
      margin: 5px 0px !important;
    }
  }
}

.bg-ice {
  background-color: $lm-ice;
}

// posts
.post {
  .overlay {
    color: $black;
    opacity: 0;
    position: absolute;
    top: ($content-spacing) * 3;
    left: ($content-spacing) * 3;
    right: ($content-spacing) * 3;
    bottom: ($content-spacing) * 3;
  }
  .label {
    opacity: 1;
    position: absolute;
    background-color: $white;
    top: $indent;
    left: $indent;
    right: $indent;
    padding: $indent;
    @media (max-width: 1024px) {
      top: $content-spacing;
      left: $content-spacing;
      right: $content-spacing;
      padding: $indent/2;
    }
  }
  .article-overview {
    background-color: $white;
    padding: $indent;
    margin: $indent;
    @media (max-width: 1024px) {
      padding: $indent/2;
      margin: $content-spacing;
    }
  }
  &:hover {
    .label {
      opacity: 1;
    }
    .overlay {
      opacity: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.article-box {
  padding: $indent * 3 $indent * 2;
  @media (max-width: 1024px) {
    padding: $content-spacing;
  }
  .button-small-black {
    display: inline-block;
    margin: $indent 0;
    font-size: $bodytext-size * 1.25 !important;
  }
}

.link-list {
  padding: $indent * 3 $indent * 2;
  @media (max-width: 1024px) {
    padding: $indent;
  }
  ul {
    list-style-type: none;
    li {
      font-size: $link-list-size;
      font-weight: 200;
    }
  }
}

.scope-list {
  padding: $indent * 2 $indent;
  ul {
    list-style-type: none;
    li {
      font-size: $link-list-size;
      font-weight: 200;
    }
    .button-small-black {
      display: flex;
      justify-content: flex-start !important;
    }
  }
}

.project-details-list {
  padding: $content-spacing 0 $content-spacing $indent;
  @media (max-width: 1024px) {
    padding-left: $indent/2;
  }
  ul {
    list-style-type: none;
    li {
      text-transform: capitalize;
      a,
      a:visited,
      a:hover,
      a:active {
        text-decoration: underline;
        color: $lm-brown;
      }
      font-size: ($bodytext-size)/1.5 !important;
      font-weight: 200;
    }
  }
}

#project-details {
  font-size: ($bodytext-size)/1.5 !important;
  @media (max-width: 1024px) {
    .col-third {
      padding-bottom: $indent;
      font-size: ($bodytext-size)/1.5 !important;
    }
    .col-two-third {
      padding-bottom: $indent;
      font-size: ($bodytext-size)/1.5 !important;
    }
  }
}

// service blocks

.service-award {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    top: -1px;
  }
}

.service-block {
  padding: $indent 0 $indent $indent;
  .service-cta {
    text-align: right !important;
  }
  @media (max-width: 1024px) {
    padding: $content-spacing;
    .service-cta {
      text-align: right !important;
    }
  }
  @media (max-width: 767px) {
    .service-cta {
      text-align: left !important;
    }
  }
  .service-head {
    border-bottom: $content-spacing $lm-brown solid;
    padding-bottom: $content-spacing;
    margin: $indent 0 $content-spacing * 2 0;
    min-height: $indent * 1.5;
    .article-head {
      font-size: 4vw !important;
      @media (max-width: $base-sm) {
        font-size: 7vw !important;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    @media (max-width: 1024px) {
      .force-right {
        text-align: left;
      }
    }
  }
  .service-counter {
    counter-reset: tag-list;
    dt {
      display: inline-block;
      font-family: $navfont;
      font-size: $bodytext-size * 1.25;
      margin-right: $content-spacing * 3; // same as dt:after 'right' value to center
      position: relative;
      .button-small-black {
        font-size: $bodytext-size * 1.25 !important;
      }
    }
    h2 {
      font-size: $bodytext-size;
      font-weight: 700;
    }
  }

  .service-tags {
    padding-top: $content-spacing * 3;
    counter-reset: tag-list;
    dt {
      display: inline-block;
      padding-bottom: 10px;
      font-size: $bodytext-size;
      @media (max-width: 1024px) {
        font-size: $bodytext-size-mobile;
      }
      a,
      a:active,
      a:visited,
      a:hover {
        color: $lm-brown;
        text-decoration: underline;
      }
      .button-line-white,
      .button-line-brown {
        margin-right: $content-spacing;
        padding-right: 0px;
      }
    }
    dt:before {
      font-size: $bodytext-size;
      line-height: $bodytext-size;
      font-family: $navfont;
    }
    dt:after {
      content: "/ ";
      font-size: $bodytext-size;
      line-height: $bodytext-size;
      font-family: $navfont;
      margin-left: $content-spacing;
      @media (max-width: 1024px) {
        font-size: $bodytext-size-mobile;
      }
    }
    dt:last-child:after {
      content: "";
      margin-left: 0;
    }

    h2 {
      font-size: $bodytext-size;
      font-weight: 700;
    }
  }
}

.standards-list {
  counter-reset: standards-counter;
  dt {
    display: block;
    position: relative;
    @extend .page-head;
    padding: 0 0 $indent $indent * 2;
    @media (max-width: 1024px) {
      padding: 0 0 $indent/2 $indent;
      font-size: $pagehero-size/2.25;
      line-height: ($pagehero-size/2.25)+5px;
    }
  }
  dt:before {
    content: counter(standards-counter);
    counter-increment: standards-counter;
    font-family: $fnt-body;
    font-size: $pagehero-size;
    color: darken($lm-ice, 20%);
    letter-spacing: -1.67px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 1024px) {
      font-size: $pagehero-size/2.25;
    }
  }
}

.service-block-white-old {
  color: $white;
  a,
  a:visited,
  a:focus,
  a:active {
    color: $white;
    text-decoration: none;
  }
}

.service-block-brown-old {
  color: $lm-brown;
  a,
  a:visited,
  a:focus,
  a:active {
    color: $lm-brown;
    text-decoration: none;
  }
}

// variations

.dark-block {
  padding-right: $indent;
  .block-focus-text {
    font-family: $navfont;
    font-size: $bodytext-size * 1.5;
    color: lighten($lm-brown, 20%);
    letter-spacing: 0.91px;
    font-weight: bold;
    line-height: ($bodytext-size * 1.5) + $content-spacing;
    @media (max-width: $base-sm) {
      font-size: 7vw !important;
    }
  }
}

.cta-block {
  background-color: $clr-ice;
  padding: $indent $indent $indent $indent;
  cursor: pointer;
  &:hover {
    padding-left: $indent * 1.1;
  }
  h2 {
    margin-bottom: $content-spacing;
  }
}

.focus-head-block {
  padding: $indent * 3 0 $indent * 3 $indent;
}

.quote-focus-block {
  padding: $content-spacing $indent * 2;
}

.member-social {
  padding-top: $content-spacing * 2;
  img {
    margin-right: $content-spacing * 2;
  }
}

.partner-list {
  list-style-type: none;
  li {
    display: block;
    position: relative;
    border-bottom: $content-spacing lighten($lm-brown, 20%) solid;
    padding: $indent/2 0 $indent $indent * 2;
    @media (max-width: 1024px) {
      padding: $indent;
    }
    span {
      font-family: $headerfont;
      font-size: $pagehero-size;
      line-height: $pagehero-size + 2px;
      font-weight: normal;
      position: absolute;
      left: 0;
      top: ($indent/2)+ ($content-spacing);
      text-transform: uppercase;
      @media (max-width: 1024px) {
        font-size: $pagehero-size/2.25;
      }
    }
  }
}

.table {
  padding: 0 $indent * 2;
  max-width: $max-width;
  width: 100%;
  @media (max-width: 1024px) {
    padding: 0 $indent/2;
  }
  .table-head-row {
    border-bottom: $lm-brown solid $content-spacing;
    height: $indent;
  }
  .table-row {
    font-size: ($bodytext-size)/1.5;
    line-height: (($bodytext-size)/1.5)+3px;
    padding: 0 0 $indent 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.hide-sm {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.show-sm {
  display: none;
  @media (max-width: 1024px) {
    display: block !important;
  }
}

.hide-md {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.show-md {
  @media (max-width: 1024px) {
    display: block !important;
  }
}

.hide-lg {
  @media (min-width: 1025px) {
    display: none !important;
  }
}

.show-lg {
  @media (min-width: 1025px) {
    display: block !important;
  }
}

.bottom-bump-sm {
  @media (max-width: 1024px) {
    bottom: 80px !important;
  }
}

// video boxes for ui projects

.video-container {
  // background-color:$lm-ice;
  .screen-video {
    overflow: hidden;
    position: absolute;
    z-index: 200;
    border-radius: 3px;
    box-shadow: 0 22px 39px 0 rgba(0, 0, 0, 0.2);
  }
  video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-size: cover;
  }
  .mobile-video {
    top: -5%;
    bottom: -5%;
    left: 20%;
    right: 20%;
  }
  .desktop-video {
    top: 20%;
    bottom: 20%;
    left: 5%;
    right: 5%;
  }
}
.bg-video {
  video {
    width: 100%;
  }
}

.overflow {
  overflow: visible;
}

.a_s {
  opacity: 0 !important;
  width: 0 !important;
}

.project-header {
  overflow: visible;
  .page-header {
    overflow: visible;
  }
  span {
    display: block;
    margin-bottom: $base/2;
  }
}
