#footer {

    .signature {
        border-top: 1px solid $clr-dark-green;
    }
    .small-print {
        margin-top: $base;
    }
    .signature-image {
        img {
            width: 215px;
            height: 52px;
        }
    }

}
