#footer {
    .signature {
        border-top: 1px solid $clr-dark-green;
    }
    .small-print {
        margin: $base 0 $base*2 0;
    }
    .signature-image {
        img {
            width: 215px;
            height: 52px;
        }
    }

}
