// hero.scss

.page-hero {
  position:relative;
  min-height:$header-height;
  padding:$header-height/5 0 0 0;
  border:$content-spacing/2 solid $wrapper-bg;
  &.service-hero {
    min-height:auto;
    height:auto;
  }
  @media (max-width:1024px) {
    min-height:$header-height/2;
    padding-bottom:$indent;
    padding-top:$indent*1.5;
  }
  .page-header {
    padding:($indent)+($indent/2) 0 $indent $indent;
    &.service-hero-text {
      margin-top:$indent*3;
      @media (max-width:676px) {
        margin-top:0;
        padding-right: 20px;
      }
    }
    &.service-header {
      padding:($indent)+($indent/2) 0 $indent 70px;
      position:relative;
      @media (max-width:676px) {
        padding:($indent)+($indent/2) 0 $indent 0px;
        &:before {
          display:none;
        }
      }
      &:before {
        content:'';
        position:absolute;
        top:$indent+(35px);
        left:($base)-(10px);
        height:1px;
        // width:$base/2;
        width:16px;
        background-color:$lm-peach;
      }

      p {
        // for bumping cta button down
        margin-bottom:$base/1.5;
      }

      .lmnt-btn {
        position:relative;
        @media (max-width:676px) {
          &:before {
            display:none;
          }
        }
        &:before {
          content:'';
          position:absolute;
          top:50%;
          left:0-($base);
          height:1px;
          // width:$base/2;
          width:16px;
          background-color:$lm-peach;
        }
      }

    }
    p {
      font-size:22px;
      line-height:34px;
      font-weight:100;
    }
    @media (max-width:1024px) {
      padding:$content-spacing;
    }
    span {
      font-family:$headerfont;
      font-size:$pagehero-size;
      line-height:1.1;
      font-weight:normal;
      color:$lm-brown;
      @extend .fadein-1-5-sec;
      @media (max-width:1024px) {
        padding:$headerfont/2;
        font-size:9vw;
        line-height:1.1;
      }
    }
  }
  .page-header-white {
    padding:$indent 0 $indent $indent;
    span {
      font-family:$headerfont;
      font-size:$pagehero-size;
      line-height:1.1;
      font-weight:normal;
      color:$white;
      @extend .fadein-1-5-sec;
    }
  }
  .home-header {
    span {
      // color:$lm-peach;
    }
  }
  .page-hero-intro {
    padding:$indent 30% $indent $indent;
    margin-top:$sidenav-size/2;
    border-left:1px solid $lm-brown;
    @media (max-width:1024px) {
      padding:$content-spacing;
      margin-top:$content-spacing*2.5;
    }
  }
}

.page-hero-full {
  min-height:100vh;
}

.img-header {
  height:100vh;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  position:relative;
  background-attachment:fixed;
  .page-hero {
    border:none;
  }
  .page-title {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:$indent;
    // @extend .bg-img-hero-title;
    @include fadein(4s);
    h1 {
      color:$white;
      opacity:1;
      // mix-blend-mode:screen;
      font-weight:normal;
      font-family: $headerfont;
      line-height: $headerfont+2;
      font-size:$pagehero-size*2;
    }
  }
}

.home-hero {
  position:relative;
  padding:$indent 0 0 0;
  @media (max-width:1024px) {
    min-height:$header-height/2;
  }
  .page-header {
    height:200px;
    padding:0 $indent;
    @extend .center-y-absolute;
    @media (max-width:1024px) {
      padding:$content-spacing;
    }
    h1 {
      font-family:$headerfont;
      font-size:$pagehero-size;
      line-height:1.1;
      font-weight:normal;
      color:$lm-brown;
      @extend .fadein-1-5-sec;
      @media (max-width:1024px) {
        padding:$headerfont/2;
        font-size:9vw;
        line-height:1.1;
      }
    }
  }
}

.page-hero-intro {
  padding:$indent 30% $indent $indent;
  margin-top:$sidenav-size/2;
  a, a:visited, a:hover, a:active {
    color:$lm-brown;
    text-decoration:underline;
  }
  @media (max-width:1024px) {
    padding:$content-spacing;
    margin-top:$content-spacing*2.5;
  }
}
