// insta.scss

.insta-box {
  position:relative;
  background-color:$wrapper-bg;
  cursor:pointer;
  .insta-img {
    position:absolute;
    border:$wrapper-bg solid $content-spacing/2;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }
}
