.intro {
  background-color: $clr-snow;
  width: 100%;
  margin: $base 0;
  .content {
    padding-bottom: $base;
    border-bottom: 1px solid $clr-med-gray;
  }
  &.split-intro {
    .price-col {
      .txt-med-p {
        margin-bottom: 10px;
      }
    }
  }
}
