.logo-header {
  margin: $base 0;
  width: 100%;
  text-align: left;
  &.logo-header-centered {
    margin: $base 0 $base/2 0;
  }
  &.logo-covered-centered {
    margin: 0 0 $base/2 0;
  }
  .lmnt-col-50 {
    text-align: center;
  }
}
