// project nav

#pagenav {
  @media (max-width:1024px) {
    position:fixed;
    z-index:500;
    left:$sidenav-size;
    right:0;
    bottom:0;
  }
}

.project-filter {
  .col-half {
    @media (max-width:1024px) {
      float:left;
      width:50%;
      span {
        display:none;
      }
    }
  }
}

.page-nav-box {
  background-color:$lm-peach;
  color:$white !important;
  text-decoration:none;
  margin:$content-spacing/2;
  height:$indent;
  line-height:$indent;
  font-size:$bodytext-size;
  padding:0 $indent;
  z-index:300;
  overflow:hidden;
  a, a:hover, a:visited, a:active, a:focus {
    color:$white !important;
  }
  @media (max-width:1024px) {
    font-size:$bodytext-size-mobile;
    padding:0 $content-spacing*2;
  }
  span {
    opacity:1;
  }
  .drop-arrow {
    position:fixed;
    right:$indent/2;
    top: 18px;
    transform: rotate(90deg);
  }
}

.black-filter {
  background-color:$black;
  color:$white;
}

.hidden {
  display:none;
}
.show {
  display:block;
}

.page-nav-head {
  cursor:pointer;
}

// .project-filter {
//   position:absolute;
//   bottom:0;left:0;right:0px;
// }

.filter-container {
  opacity:1;
  visiblity:hidden;
  z-index:500;
  position:fixed;
  top:0-($indent*1.5);
  left:$sidenav-size;
  right:0px;
  font-weight:600;
  height:$indent*1.5;
}

.filter-container.affix-top {
  .filter-options {
    display:none;
    transition: all 0s linear;
  }
  .drop-arrow {
    opacity:0;
  }
}

.filter-container.affix {
  opacity:1;
  visiblity:visible;
  z-index:500;
  position:fixed;
  top:0px;
  left:$sidenav-size;
  right:0px;
  font-weight:600;
  height:$indent*1.5;
  .drop-arrow {
    opacity:1;
  }
  .filter-options {
    display:block;
  }
  .page-nav-box {
    height:100%;
    min-height:$indent*1.5;
    line-height:$indent*1.5;
    margin:0px 7px;
    .drop-arrow {
      top: 27px;
    }
  }
  .project-filter {
    position:relative;
    width:100%;
    overflow-y: auto;
  }
  // .project-affix {
  //   position:absolute;
  //   left:($content-spacing)*2;
  //   right:($content-spacing)*2;
  // }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page-next {
  text-align:right;
}

// service styles and the classes in filterKey()

.filter-options {
  line-height:$bodytext-size*1.5;
  font-weight:normal;
  overflow:hidden;
  height:0;
  a, a:active, a:hover, a:visited {
    color:$white;
  }
  ul {
    list-style-type:none;
    padding-bottom:$indent*2;
  }
  h3 {
    border-bottom:$content-spacing solid $white;
    display:block;
    margin-bottom:$content-spacing*2;
  }
}

.filter-hide-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

.filter-open {
  height:auto;
  min-height:100vh;
  overflow:auto;
}

.flip {
  transform: rotate(-90deg) !important;
}

.fade-head {
  opacity:.2 !important;
}
