.quote-card {
  background-color: $clr-snow;
  padding: 5px;
  .card-row {
    padding: $base/2;
    background-color: $clr-white;
    border-radius: 5px;
    .card-inner {
        border-bottom: 1px solid lighten($clr-med-gray, 10%);
    }
    &.card-row-green {
      padding: $base/4;
      background-color: $clr-green;
      .card-inner {
        padding: $base/4;
      }
    }
    &.card-row-top {
      .card-inner {
        border-radius: 5px 5px 0px 0px;
      }
    }
    &.card-row-bottom {
      .card-inner {
        border-radius: 0px 0px 5px 5px;
        border-bottom: none !important;
      }
    }
  }
  .card-inner {
    padding: $base/2;
    text-align: center;
    .card-logo {
      margin-bottom: $base/2;
    }
  }
  .line-title {
    color: $clr-gunmetal;
    text-align: center;
    font-size: 12px;
  }
  .line-number {
    color: $clr-gunmetal;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .featured-number {
    font-weight: bold;
    font-size: 26px;
  }
  .featured-savings {
    font-weight: 100;
    font-size: 22px;
  }
}
