// page-culture.scss

.service-box-1 {
  @include gradient-bg($lm-pink,$lm-peach,315deg,2s);
  transition:all 1s ease;
  &:hover {
    background-size: 100% 100%;
  }
}

.service-box-2 {
  @include gradient-bg($lm-sky,$lm-lemon,315deg,2s);
  transition:all 1s ease;
  &:hover {
    background-size: 100% 100%;
  }
}

.service-box-3 {
  background-color:$lm-brown;
}

.service-box-4 {
  background-color:$lm-yellow;
}
