// page-home.scss

.home-box-1 {
  background:url('../images/home/home-small-1.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.home-box-2 {
  background:url('../images/home/home-small-2.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.home-box-3 {
  background:url('../images/orco-view.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.home-box-4 {
  background:url('../images/loki-bg.jpg');
  background-size:cover;
  background-position:center left;
  background-repeat:no-repeat;
}

.home-box-matt {
  background:url('../images/home/home-3.jpg');
  background-size:cover;
  background-position:center left;
  background-repeat:no-repeat;
}

.home-box-binh {
  background:url('../images/home/home-4.jpg');
  background-size:cover;
  background-position:center left;
  background-repeat:no-repeat;
}

.home-box-footer {
  background:url('../images/home/home-5.jpg');
  background-size:cover;
  background-position:center left;
  background-repeat:no-repeat;
}
