// page-home.scss

.projects-box-1 {
  background:url('../images/projects/projects-box-1.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-2 {
  background:url('../images/projects/projects-box-2.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-3 {
  background:url('../images/projects/projects-box-3.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-4 {
  background:url('../images/projects/projects-box-4.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-5 {
  background:url('../images/projects/projects-box-5.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-6 {
  background:url('../images/projects/projects-box-6.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-7 {
  background:url('../images/projects/projects-box-7.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.projects-box-8 {
  background:url('../images/projects/projects-box-8.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

// individual project 1

@include page-theme(coffee,#76C0E8,$white);

.ind-project-box-1 {
  background:url('../images/projects/ind/ind-projects-box-1.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-2 {
  background:url('../images/projects/ind/ind-projects-box-2.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-3 {
  background:url('../images/projects/ind/ind-projects-box-3.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-4 {
  background:url('../images/projects/ind/ind-projects-box-4.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-5 {
  background:url('../images/projects/ind/ind-projects-box-5.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-6 {
  background:url('../images/projects/ind/ind-projects-box-6.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-7 {
  background:url('../images/projects/ind/ind-projects-box-7.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-8 {
  background:url('../images/projects/ind/ind-projects-box-8.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-9 {
  background:url('../images/projects/ind/ind-projects-box-9.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-10 {
  background:url('../images/projects/ind/ind-projects-box-10.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.ind-project-box-11 {
  background:url('../images/projects/ind/ind-projects-box-11.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

@include page-theme(coffee2,#68453F,$white,url('../images/projects/projects-box-1.jpg'),fixed);
