// measure.scss

// body
$max-width:1440px;

// nav
$sidenav-size: 60px;
$navspacing:20px;

// viewports
 $base-sm: 676px;
 $base-md: 1024px;

// header
$header-height:660px;
// footer
$footer-height:70vh;
$footer-height-mobile:100vh;

// spacing
$content-spacing:7px;
$indent:50px;

// columns
$col-full:100%;
$col-half:($col-full)/2;
$col-third:($col-full)/3;
$col-quarter:($col-half)/2;
$col-eighth:($col-quarter)/2;

// overrides

.padding-indent {
  padding:$indent;
}
.padding-indent-2x {
  padding:$indent*2;
}
.padding-indent-3x {
  padding:$indent*3;
}
.padding-indent-4x {
  padding:$indent*4;
}

.padding-bottom-indent {
  padding-bottom:$indent;
}

.padding-bottom-indent-half {
  padding-bottom:$indent/2;
}

.padding-bottom-indent-2x {
  padding-bottom:$indent*2;
}

.padding-bottom-indent-3x {
  padding-bottom:$indent*3;
}

.padding-top-indent {
  padding-top:$indent;
}

.padding-top-indent-2x {
  padding-top:$indent*2;
}

.padding-left-indent {
  padding-left:$indent;
}

.padding-left-indent-2x {
  padding-left:$indent*2;
}

.padding-right-indent {
  padding-right:$indent;
}

.padding-right-indent-2x {
  padding-right:$indent*2;
}

.padding-reset-sm {
  @media (max-width:1024px) {
    padding:$content-spacing;
  }
}

.padding-clear-sm {
  @media (max-width:1024px) {
    padding:0;
  }
}

.padding-bottom-indent-quarter-sm {
  @media (max-width:1024px) {
    padding-bottom:$indent*.25;
  }
}

.padding-right-indent-half-sm {
  @media (max-width:1024px) {
    padding-right:$indent/2;
  }
}

.padding-left-indent-half-sm {
  @media (max-width:1024px) {
    padding-left:$indent/2;
  }
}

.padding-bottom-indent-sm {
  @media (max-width:1024px) {
    padding-bottom:$indent;
  }
}

.padding-bottom-indent-2x-sm {
  @media (max-width:1024px) {
    padding-bottom:$indent*2;
  }
}

.padding-top-indent-2x-sm {
  @media (max-width:1024px) {
    padding-top:$indent*2;
  }
}

.padding-top-indent-sm {
  @media (max-width:1024px) {
    padding-top:$indent;
  }
}

.padding-indent-quarter-sm {
  @media (max-width:676px) {
    padding:$indent $indent/2;
  }
}

.window-height {
  height:84vh;
  @media (max-width:1024px) {
    height:600px;
  }
  @media (max-width:676px) {
    height:280px;
  }
}

.center-y {
  @include vertical-align;
}

.center-y-absolute {
  @include vertical-align(absolute);
}

.center-y-reset-sm {
  @media (max-width:1024px) {
    position:relative;
    top:auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.center-y-fixed {
  @include vertical-align(fixed);
}

.fullheight-sm {
  @media (max-width:1024px) {
    min-height:80vh !important;
  }
}
