// mixins.scss

// page theming individual portfolio items

@mixin page-theme($name,$theme-color-1,$theme-color-2,$head-bg:none,$bg-scroll:scroll) {
  .page-hero-#{$name} {
    min-height:$header-height;
    padding:$header-height/5 0;
    background-image:$head-bg;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:$bg-scroll;
    background-color:$theme-color-1;
    border:$content-spacing/2 solid $wrapper-bg;
    .page-header {
      padding:$indent 0 $indent $indent;
      span {
        font-family:$headerfont;
        font-size:$pagehero-size;
        line-height:$pagehero-size+2px;
        font-weight:normal;
        color:$theme-color-2;
        @extend .fadein-1-5-sec;
      }
      p {
        color:$theme-color-2;
      }
    }
    .page-hero-intro {
      padding:$indent 30% $indent $indent;
      margin-top:$sidenav-size/2;
      color:$theme-color-2;
      border-left:1px solid $theme-color-2;
    }
    .scope-list {
      color:$theme-color-2;
      ul {
        color:$theme-color-2;
        a[class^="button-small-"], a[class*=" button-small-"] {
          color:$theme-color-2;
        }
      }
      .intro-head {
        color:$theme-color-2;
      }
    }
  }
  .row-#{$name} {
    background-color:$theme-color-1;
    color:$theme-color-2;
    .content {
      background-color:$theme-color-1;
      color:$theme-color-2;
      .alt-head {
        color:$theme-color-2;
      }
    }
  }
}
