// palette.scss

$lm-brown:#302A24;
$lm-ice:#FBF7F7;
$lm-yellow:#FCFF5F;
$white:#fff;
$black:#302A24;
$lm-peach:#FF8E6F;

// tertiary

$lm-pink:#FFA8CE;
$lm-lemon:#FCFFE0;
$lm-sky:#6FF9FF;

// styles

$wrapper-bg:$lm-ice;
$contact-bg:$lm-yellow;
$contact-color:$lm-brown;

.overlay-color {
  background: -webkit-linear-gradient(to right, $lm-peach, $lm-yellow);
  background: -o-linear-gradient(to right, $lm-peach, $lm-yellow);
  background: -moz-linear-gradient(to right, $lm-peach, $lm-yellow);
  background: linear-gradient(to right, $lm-peach, $lm-yellow);
  background-size: 100% 300%;
  @include tiltgradient(.2s);
  overflow: hidden;
}

@mixin gradient-bg($c1,$c2,$deg,$duration:0s) {
  background: -webkit-linear-gradient($deg, $c1, $c2);
  background: -o-linear-gradient($deg, $c1, $c2);
  background: -moz-linear-gradient($deg, $c1, $c2);
  background: linear-gradient($deg, $c1, $c2);
  background-size: 100% 300%;
  @include tiltgradient($duration);
  overflow: hidden;
}

.bg-img-hero-title {
  background: none;
  background: -webkit-linear-gradient(rgba(0,0,0,0), $black);
  background: -o-linear-gradient(rgba(0,0,0,0), $black);
  background: -moz-linear-gradient(rgba(0,0,0,0), $black);
  background: linear-gradient(rgba(0,0,0,0), $black);
}
