@font-face {
  font-family: "Otama";
  src: url("../fonts/otama.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// body
$fnt-body: "Heebo", "Helvetica", "Tahoma", sans-serif;
$headerfont: "CaslonGraD", "Otama", "Abril Fatface", "Didot", serif;
$quotefont: "Lato", sans-serif;

// selection
::-moz-selection {
  background: $lm-pink;
  opacity: 100%;
  color: $black;
}
::selection {
  background: $lm-pink;
  opacity: 100%;
  color: $black;
}

// nav
$navfont: "Lora", "Georgia", serif;
$navfont-size: 17px;

// hero
$pagehero-size: 65px;

// header
$label-head-size: 40px;
$article-head-size: 55px;

// paragraph
$smallhead-size: 14px;
$smallhead-spacing: 1.8px;
$smallhead-weight: 300;
$bodytext-size: 25px;
$link-list-size: 25px;
$bodytext-size-mobile: 20px;

// buttons
$button-font-size: $bodytext-size/1.25;

// spacing
@mixin auto-line-height($size, $height: 0.08) {
  font-size: $size;
  line-height: $size + ($size * $height);
}

// hovers
.highlight-hover {
  background-image: -webkit-linear-gradient(
    left,
    rgba($white, 0) 50%,
    $lm-yellow 50%
  );
  background-image: linear-gradient(
    to right,
    rgba($white, 0) 50%,
    $lm-yellow 50%
  );
  background-position: 0;
  background-size: 200.7% 30px;
  background-blend-mode: multiply;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: $content-spacing;
  &:hover {
    background-position: -99.3%;
  }
}

.highlight-hover-black {
  background-image: -webkit-linear-gradient(
    left,
    rgba($white, 0) 50%,
    rgba($lm-brown, 1) 50%
  );
  background-image: linear-gradient(
    to right,
    rgba($white, 0) 50%,
    rgba($lm-brown, 1) 50%
  );
  background-position: 0;
  background-blend-mode: multiply;
  background-size: 200.7% 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: $content-spacing;
  &:hover {
    background-position: -99.3%;
  }
}

.highlight-hover-white {
  background-image: -webkit-linear-gradient(
    left,
    rgba($white, 0) 50%,
    rgba($white, 1) 50%
  );
  background-image: linear-gradient(
    to right,
    rgba($white, 0) 50%,
    rgba($white, 1) 50%
  );
  background-position: 0;
  background-size: 200.7% 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: $content-spacing;
  &:hover {
    background-position: -99.3%;
  }
}

.highlight-hover-peach {
  background-image: -webkit-linear-gradient(
    left,
    rgba($white, 0) 50%,
    rgba($lm-peach, 1) 50%
  );
  background-image: linear-gradient(
    to right,
    rgba($white, 0) 50%,
    rgba($lm-peach, 1) 50%
  );
  background-position: 0;
  background-size: 200.7% 30px;
  background-blend-mode: multiply;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-right: $content-spacing;
  &:hover {
    background-position: -99.3%;
  }
}

// headers

.intro-head,
.txt-caption {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $lm-brown;
  font-weight: normal;
  display: block;
  @media (max-width:$base-md) {
    font-size: 2vw !important;
  }
  @media (max-width:$base-sm) {
    font-size: 3vw !important;
  }
}

.red-head {
  color: $lm-peach !important;
}

.intro-desc {
  display: block;
  font-size: $bodytext-size;
  color: $lm-brown;
}

.label-head {
  font-size: $label-head-size;
  line-height: ($label-head-size)+3px;
  font-family: $fnt-body;
  font-weight: 700;
  color: $lm-brown;
  margin: 0;
  @media (max-width: 1024px) {
    @include auto-line-height($label-head-size/1.75);
  }
}

.article-head {
  @include auto-line-height($article-head-size);
  font-family: $fnt-body;
  font-weight: 700;
  color: $lm-brown;
  margin: 0;
  @media (max-width: 1024px) {
    @include auto-line-height($article-head-size/2);
  }
}

.alt-head {
  color: $lm-brown;
  font-family: $headerfont;
  font-weight: normal;
  @include auto-line-height($article-head-size + 20px);
}

.page-head {
  font-family: $headerfont;
  font-size: $pagehero-size;
  line-height: $pagehero-size + 2px;
  font-weight: normal;
  color: $lm-brown;
  @media (max-width: 1024px) {
    font-size: $pagehero-size/2.25;
    line-height: ($pagehero-size/2.25)+5px;
  }
}

.block-head {
  font-family: $headerfont;
  font-size: $pagehero-size;
  line-height: $pagehero-size + 2px;
  color: $white;
  @media (max-width: 1024px) {
    font-size: $pagehero-size/1.75;
    line-height: ($pagehero-size/1.75)+5px;
  }
}

.white-head {
  color: $white;
}

// body

p {
  font-size: $bodytext-size;
  line-height: $bodytext-size * 2;
  @media (max-width: 1024px) {
    @include auto-line-height($bodytext-size-mobile, 0.6);
  }
}

.quote {
  font-family: $quotefont;
  font-style: italic;
  font-weight: 100;
  @include auto-line-height($article-head-size);
  @media (max-width: 1024px) {
    @include auto-line-height($article-head-size/2, 0.6);
  }
}

.quote-alt {
  font-family: $navfont;
  font-style: italic;
  font-weight: 100;
  @include auto-line-height($article-head-size);
}

.service-quote {
  margin: $indent * 3 0;
}

.force-right {
  text-align: right;
}

.force-left {
  text-align: left;
}

.force-center {
  text-align: center;
}

.head-line-break {
  display: block;
  border-bottom: $lm-brown $content-spacing solid;
  padding-bottom: $content-spacing * 2;
}

//

@mixin under-slide-white() {
  color: $clr-white;
  display: inline-block;
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 100%;
    height: 1px;
    width: 0;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: width 0ms ease-in-out, border-bottom 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
  &:after {
    right: 0;
    // opacity: 0;
    border-bottom: 1px solid $clr-white;
    transition: width 0.5s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      border-bottom: 1px solid $clr-white;
      transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    &:after {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: width 0ms ease-in-out, border-bottom 0ms ease-in-out;
    }
  }
}
