.lmnt-cta {
  position: relative;
  height:350px;
  .lmnt-cta-inner {
    position: absolute;
    background-color: rgba($clr-main, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base/2;
    color: $clr-white;
    flex-direction: column;
    h3 {
      font-size: 4.5vw;
      padding-bottom: $base/2;
    }
  }
}
