$gutter-left: $lmnt-nav-size + ($base * 2);
$gutter-right: $base/2;

// 2018 home page
.lmnt-project-slide-wrap {
  @media (max-width: $base-md) {
    height: auto;
  }
  .project-slide-inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    @media (max-width: $base-md) {
      flex-direction: column;
    }
  }
}

.lmnt-project-slide-card {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(1);
    z-index: 100;
    transition: transform 1.25s ease;
    @media (max-width: $base-md) {
      display: none !important;
    }
  }

  &:nth-child(odd) {
    &:before {
      transform-origin: top center;
      background-color: $clr-main;
    }
  }
  &:nth-child(even) {
    &:before {
      transform-origin: bottom center;
      background-color: $clr-main;
    }
  }

  .lmnt-project-slide-card-inner {
    height: 100vh;
    width: 33.333333333333vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $base * 3 37.2px $base * 4 37.2px;
    position: relative;
    @media (max-width: $base-md) {
      justify-content: center;
      height: calc(100vh - 58px);
      padding: $base*2;
      width: 100%;
      .project-slide-card-top {
        z-index: 10;
      }
      .lmnt-btn-cta {
        margin-top: $base/4;
      }
    }
    @media (max-width: $base-sm) {
      justify-content: center;
      height: calc(100vh - 58px);
      padding: $base $base/2;
      width: 100%;
      .project-slide-card-top {
        z-index: 10;
      }
      .lmnt-btn-cta {
        margin-top: $base/4;
      }
    }
    .project-title {
      color: $clr-white;
    }
    .project-slide-card-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 1.5s ease;
      @media (max-width: $base-md) {
        opacity: 1 !important;
      }
    }
    .project-slide-card-bottom {
      height: 19vh;
      @media (min-width: 1400px) {
        height: 14vh;
      }
      @media (min-width: 2000px) {
        height: 10vh;
      }
      @media (max-width: $base-md) {
        height: auto !important;
      }
    }
    h2 {
      font-size: 3vw;
      @media (max-width: $base-md) {
        font-size: 10.5vw !important;
      }
    }
    .project-client {
      font-weight: bold;
    }
    .project-services {
      position: relative;
      padding-top: $base/2;
      margin-top: $base/2;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 4px;
        background-color: $clr-white;
      }
      a {
        display: inline-block;
        @extend .txt-caption;
        margin-right: $base/4;
        color: $clr-white;
        padding-right: $base/4;
        @include under-slide-white;
        &:hover,
        &:active,
        &:visited,
        &:focus {
          color: $clr-white;
        }
        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
      @media (max-width: $base-md) {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        &:before {
          display: none;
        }
        a {
          margin-bottom: 5px;
          line-height: 20px !important;
        }
      }
    }
    .lmnt-btn {
      display: inline-block;
    }
  }

  .project-client,
  .project-location,
  .project-title,
  .lmnt-btn-cta,
  .project-services {
    opacity: 0;
    @media (max-width: $base-md) {
      opacity: 1 !important;
    }
  }
}

.fp-slide {
  &.active {
    .lmnt-project-slide-card {
      &:before {
        transform: scaleY(0);
      }

      .project-slide-card-overlay {
        opacity: 1;
      }

      .project-client,
      .project-location,
      .project-title,
      .lmnt-btn-cta,
      .project-services {
        animation: fade-in-slide-up 1s 1;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
      }

      $delay-base: 0.5;
      $delay-int: 0.2;

      .project-client {
        animation-delay: ($delay-base) s;
      }

      .project-location {
        animation-delay: ($delay-base + ($delay-int)) + s;
      }

      .project-title {
        animation-delay: ($delay-base + ($delay-int * 2)) + s;
      }

      .lmnt-btn-cta {
        animation-delay: ($delay-base + ($delay-int * 3)) + s;
      }

      .project-services {
        animation-delay: ($delay-base + ($delay-int * 4)) + s;
      }
    }
  }
}
