$gutter-left: $lmnt-nav-size + ($base * 2);
$gutter-right: $base/2;

// 2018 home page

.lmnt-home-wrapper {
  height: 100vh !important;
  cursor: url($baseurl+"/assets/images/ico-circle-white.png") 15 15, crosshair !important;

  .fp-slidesNav {
    left: 123px;
    bottom: 50px !important;
    transform: scaleX(0);
    animation: expand-right 1.5s 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 3.8s;
  }


  .fp-slidesNav ul li a.active2 span,
  .fp-slidesNav ul li:hover a.active2 span {
    border-radius: 100% !important;
    background-image: url("/assets/images/icons/active-eye.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    $bullet-size: 25px;
    width: $bullet-size !important;
    height: $bullet-size !important;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    border: rgba(255, 255, 255, 0);
  }

  .fp-controlArrow {
    position: absolute;
    bottom: $base * 1.5;
    background-color: #000;
    border-radius: 50%;
    width: $base * 1.5;
    height: $base * 1.5;
    border: none;
    top: auto;
    background-image: url($baseurl+"/assets/images/ico-line-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    display: none;
    &.fp-prev {
      left: auto !important;
      right: 85px;
      // transform-origin: center center;
      // transform: rotate(180deg);
    }
    &.fp-next {
      right: $base/2;
    }
  }

  .slide {
    background-color: $clr-main;

    .lmnt-home-slide-wrap {
      width: 100vw;
      height: 100vh;
      padding: 0 $gutter-left;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;

      // &:before,
      // &:after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   width: 50vw;
      //   transform: scaleY(1);
      //   z-index: 100;
      //   transition: transform 1.25s ease;
      // }

      // &:before {
      //   left: 0;
      //   transform-origin: top center;
      //   background-color: $clr-white;
      // }

      // &:after {
      //   right: 0;
      //   transform-origin: bottom center;
      //   background-color: $clr-white;
      // }

      &.lmnt-home-slide-post {
        background-color: rgba($clr-main, 0.65);
      }

      .lmnt-home-slide-cover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
      }

      .lmnt-home-slide-inner {
        z-index: 5;
        padding-bottom: $base * 2;
        @media (max-width: $base-sm) {
          padding-bottom: 0;
        }
      }

      p {
        margin-bottom: $base/2;
        line-height: 1.2;
        position: relative;
        max-width: 75vw;
        font-size: 1.3vw;
        @media (max-width: $base-md) {
          font-size: 3.3vw !important;
          width: 100%;
          max-width: 100%;
        }
        @media (max-width: $base-sm) {
          font-size: 4.3vw !important;
          width: 100%;
          max-width: 100%;
        }
        @media (max-width: ($base-sm)-300px ) {
          font-size: 5.3vw !important;
          width: 100%;
          max-width: 100%;
        }
      }
      .lmnt-btn {
        position: relative;
        margin: $base/4 0 $base/2 0;
        display: inline-block;
      }
      .post-services {
        @extend .txt-caption;
        display: flex;
        flex-direction: row;
        border-top: 5px solid $clr-white;
        padding-top: $base/2;
        // margin-top: $base/2;
        a,
        a:active,
        a:visited,
        a:focus,
        a:hover {
          color: $clr-white;
          display: inline-block;
          margin-right: $base/2.5;
          position: relative;
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            top: 100%;
            height: 1px;
            width: 0;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            opacity: 0;
            transition: width 0ms ease-in-out, border-bottom 0.5s ease-in-out,
              opacity 0.5s ease-in-out;
          }
          &:after {
            right: 0;
            // opacity: 0;
            border-bottom: 1px solid $clr-white;
            transition: width 0.5s ease-in-out;
          }
          &:hover {
            &:before {
              width: 100%;
              opacity: 1;
              border-bottom: 1px solid $clr-white;
              transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
            }
            &:after {
              width: 100%;
              border-bottom: 1px solid transparent;
              transition: width 0ms ease-in-out, border-bottom 0ms ease-in-out;
            }
          }
        }
      }
      .txt-caption {
        position: relative;
      }
    }

    p,
    h1,
    span {
      color: $clr-white;
    }
    h1 {
      font-size: 4vw;
      letter-spacing: -0.8px;
      overflow: hidden;
      line-height: 1.2;
      letter-spacing: -2.24;
      @media (max-width: $base-md) {
        font-size: 8vw !important;
      }
      @media (max-width: $base-sm) {
        font-size: 9vw !important;
      }
      span {
        display: block;
        @include slide-up(1s);
      }
    }
    &.hidden {
      @media (max-width: 1024px ) {
        display: none;
      }
    }
  }

  @media (max-width: $base-md) {
    .slide {
      .lmnt-home-slide-wrap {
        width: 100vw;
        height:auto;
        min-height: 100vh;
        padding: $base*3 $gutter-left/4;
        display: flex;
        align-items: flex-start;
        position: relative;
        .news-ticker {
          position:absolute !important;
          z-index:1;
        }
      }
    }
  }
}

.fp-tableCell {
  vertical-align: top;
}

.slide-contact-row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  color: $clr-white;
  z-index: 50;
  padding: $base/2 $gutter-right $base/2 $gutter-left;
  a,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
    color: $clr-white;
    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      top: 100%;
      height: 1px;
      width: 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      opacity: 0;
      transition: width 0ms ease-in-out, border-bottom 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    }
    &:after {
      right: 0;
      // opacity: 0;
      border-bottom: 1px solid $clr-white;
      transition: width 0.5s ease-in-out;
    }
    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
        border-bottom: 1px solid $clr-white;
        transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
      }
      &:after {
        width: 100%;
        border-bottom: 1px solid transparent;
        transition: width 0ms ease-in-out, border-bottom 0ms ease-in-out;
      }
    }
  }
  .slide-contact-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .slide-contact-email {
      display: inline-block;
      margin-right: $base * 1.5;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: $clr-white;
        height: 1px;
        width: $base/2;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        left: 0 - ($base);
      }
      &:after {
        right: 0 - ($base);
      }
    }
    .social-row {
      display: flex;
      span {
        display: flex;
        position: relative;
        display: inline-block;
        margin-right: $base/1.5;
        &:before {
          content: "";
          position: absolute;
          right: 0- (($base/1.5)/2);
          top: 50%;
          transform: rotate(15deg) translateY(-50%);
          width: 1px;
          height: $base/2;
          background-color: $clr-white;
        }
        &:last-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

//@keyframes progress-load {
//  0% {
//    transform-origin: top left;
//    transform: scaleX(0);
//  }
//  100% {
//    transform-origin: top left;
//    transform: scaleX(1);
//  }
//}

.slide-progress-bar {
  position: fixed;
  bottom: 90px;
  height: 1px;
  background-color: rgba($clr-white, 0.3);
  left: $gutter-left;
  right: 210px;
  span {
    height: 1px;
    background-color: $clr-white;
    width: 0%;
    display: block;

    // progress load time
    //animation: progress-load 7s infinite linear;
  }
}

.slide-progress-bar {
  transform: scaleX(0);
  animation: expand-up 1.5s 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.8s;
  @media (max-width: $base-md) {
    display: none;
  }
}

.slide-progress-tick {
  position: fixed;
  left: $gutter-left / 1.5;
  bottom: 90px;
  display: inline-flex;
  @media (max-width: $base-md) {
    display: none;
  }
  span {
    display: inline-block;
    width: 1px;
    height: 30px;
    margin-right: $base/2.75;
    background-color: rgba($clr-white, 0.3);
    &.active-slide {
      transform: scaleY(1.4);
      transform-origin: bottom center;
      background-color: $clr-white;
    }
  }
}

.news-ticker {
  position: fixed;
  bottom: 100px;
  left: 127px;
  z-index: 800;
  @media (max-width: $base-md) {
    bottom: 32px !important;
    right: 32px !important;
    left: 32px !important;
  }
  @media (max-width: $base-sm) {
    bottom: 32px !important;
    right: 32px !important;
    left: 32px !important;
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   height: 12px;
  //   width: 100%;
  //   background-color: $lm-peach;
  // }
  span {
    position: relative;
    z-index: 50;
  }
  strong {
    font-weight: bold;
  }
  a {
    color: $clr-white !important;
    svg {
      stroke: $clr-white;
      height: 15px;
      width: 15px;
      position: relative;
      top: 3px;
      left: 0px;
      transform: translateX(0px) rotate(-90deg);
      transition: transform 0.25s ease;
    }
    &:hover {
      svg {
        transform: translateX(5px) rotate(-90deg);
      }
    }
  }
  .txt-caption {
    color: $clr-white;
  }
}

// animation

.fp-slide {
  &.active {
    .lmnt-home-slide-wrap {
      // &:before,
      // &:after {
      //   transform: scaleY(0);
      // }
    }
  }
}

// intro animation

.news-ticker {
  opacity: 0;
  animation: fadein 1s 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

@keyframes cover-fade-out {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.12;
    transform: scale(1);
  }
}

@keyframes expand-right {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center left;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center left;
  }
}

@keyframes expand-up {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
}

@keyframes expand-in {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-90deg);
    transform-origin: center center;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-90deg);
    transform-origin: center center;
  }
}

@keyframes expand-in-rev {
  0% {
    opacity: 0;
    transform: scale(0) rotate(90deg);
    transform-origin: center center;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(90deg);
    transform-origin: center center;
  }
}

.slide-progress-tick {
  transform: scaleY(0);
  animation: expand-up 1.5s 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2.8s;
}

.lmnt-home-slide-cover {
  animation: cover-fade-out 3s 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  // animation-delay: 2s;
  opacity: 1;
  transform: scale(1.2);
}

.lmnt-home-slide-wrap {
  .lmnt-home-services,
  h1,
  p,
  .lmnt-btn {
    opacity: 0;
    animation: fadein 1s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .lmnt-home-services {
    animation-delay: 2s;
  }

  h1 {
    animation-delay: 2.2s;
  }

  p {
    animation-delay: 2.4s;
  }

  .lmnt-btn {
    animation-delay: 2.6s;
  }

  .txt-caption,
  .lmnt-btn,
  p {
    &:before {
      transform: scaleX(0) translateY(-50%);
      animation: expand-right 1.5s 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 2.8s;
    }
  }
}

.slide-contact-row {
  .slide-contact-email {
    animation: fadein 1s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 3s;
  }
  .slide-copyright {
    animation: fadein 1s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 3.2s;
  }
  .social-row {
    span {
      animation: fadein 1s 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      opacity: 0;
      &:nth-child(1) {
        animation-delay: 3.2s;
      }
      &:nth-child(2) {
        animation-delay: 3.4s;
      }
      &:nth-child(3) {
        animation-delay: 3.6s;
      }
    }
  }
}

.home-template {
  .lmnt-project-nav {
    right: 84px;
    &.project-nav-home {
      @media (max-width: $base-md) {
        display: none;
      }
      a {
        &.lmnt-project-prev {
          animation: expand-in-rev 1.5s 1;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          opacity: 0;
          // transform: scale(0) rotate(90deg);
          animation-delay: 3.8s;
        }
        &.lmnt-project-next {
          animation: expand-in 1.5s 1;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          opacity: 0;
          // transform: scale(0) rotate(-90deg);
          animation-delay: 3.4s;
        }
      }
    }
  }
  .lmnt-nav-top {
    .lmnt-hamburger {
      .lmnt-bar {
        transform: scaleX(0);
        animation: expand-right 1.5s 1;
        opacity: 0;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        &:first-child {
          animation-delay: 2.8s;
          transform: scaleX(0);
        }
        &:nth-child(2) {
          animation-delay: 3s;
          transform: scaleX(0);
        }
        &:last-child {
          animation-delay: 3.2s;
          transform: scaleX(0);
        }
      }
    }
    .lmnt-nav-bar {
      transform: scaleX(0);
      animation: expand-right 1.5s 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 3.8s;
    }
    .lmnt-branding {
      animation: fadein 1s 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 3s;
    }
    a {
      animation: fadein 1s 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      opacity: 0;
      &:first-child {
        animation-delay: 3.2s;
      }
      &:nth-child(2) {
        animation-delay: 3.4s;
      }
      &:nth-child(3) {
        animation-delay: 3.6s;
      }
    }
  }
}

.lmnt-project-slide-wrap {
  overflow: hidden;
}

.fp-slidesNav {
  li {
    display: none !important;
  }
  li:nth-of-type(56), li:nth-of-type(53), li:nth-of-type(54), li:nth-of-type(55) {
    display: inline-block !important;;
  }
}