---
layout: default
---

{% include email.start %}

    {% include row.start class="bg-white" %}
        {% include section.start id="headerSection" %}
            {% include logo-header.section %}
        {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-snow" %}
        {% include section.start id="introSection" %}
            {% include intro.section %}
        {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-snow" %}
        {% include section.start id="quotesDisplay" %}
            {% include double-headline.section
              headline-1="Just for you."
              headline-2="Homeowners Insurance Quotes."
            %}
            {% include p.section
              content="We’ve selected these quotes just for you, based on the most comprehensive coverage for your needs at the most competitive rates."
            %}
            {% include quotes.section %}
        {% include section.end %}
    {% include row.end %}


{% include email.end %}

