---
layout: default
---

{% include email.start %}

    {% include row.start class="bg-white" %}
        {% include section.start id="headerSection" %}
            {% include logo-plus-chase.section %}
        {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-snow" %}
        {% include section.start %}
            {% include p.section
                content=site.data.contact_hs.e3-introduction
                class="border-spacing-top"
            %}
            {% include p.section
                content= site.data.contact_hs.e3-p-1
            %}
            {% include p.section
                content="Sincerely,"
            %}
        {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-snow" %}
        {% include section.start %}
            {% include photo-signature.section %}
        {% include section.end %}
    {% include row.end %}


    {% include row.start class="bg-snow" %}
      {% include section.start id="footImageTop" %}
        {% include footer-image-top.section %}
      {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-med-green" %}
      {% include section.start id="footImageTop" %}
        {% include footer-image-bottom.section %}
      {% include section.end %}
    {% include row.end %}

    {% include row.start class="bg-med-green" %}
        {% include section.start id="footer" %}
            {% include white-headline.section
                headline-1="❤️ We’re here to help save you time and money."
            %}
            {% include p.section
                content="We represent the top national and regional insurance carriers so we can give you the best options. Our fantastic
                licensed insurance agents have been hard at work fighting to get you the best value. Covered is an independent
                insurance agency and our customers always come first! We understand that finding the right insurance policy can be a
                pain, which is why we’ve done the heavy lifting for you."
                class="txt-clr-white border-spacing-bottom"
            %}
            {% include section.start id="signatureSection" %}
                {% include signature.section %}
            {% include section.end %}
        {% include section.end %}
    {% include row.end %}


{% include email.end %}

